body {
    font-family: Arial;
    background-color: #f4f6f9;
    text-align: center;
}

h1 {
    background: #2c3e50;
    color: white;
    padding: 15px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #219150;
}

#output {
    margin-top: 20px;
    text-align: left;
    background: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
}
